# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-4yyd6.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=JIFIWYWWMVGC4EL4
sasl.password=KppsqZY4uLr/QRDx0OiCBPt2SYn3sY/rcGNSug0YT37QID8ZaVOr+dz/kjlHCWS8

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-4rw99.us-central1.gcp.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=CHCV2V4K2CRTOCIZ:fuBzp4+V361UOh7IiEvelUVudwPsNRQAcPBDkyz0JEwhYCjLLwWWsdPq2ag8qA8t

